{% extends "base.html" %}
{% block content %}

<section class="hero">
    <div class="hero-overlay"></div>

    <div class="hero-content">

        <h1>
            Experience the Magic of <br>
            El Salvador
        </h1>

        <p class="hero-description">
            Not a group tour. Not rushed. Not shared.
	Just you and your people.
	A fully private experience in El Salvador.
	Book your private guide today.
	Reserve your date now.
        </p>

        <p class="hero-features">
            🌋 Volcano hikes • 🏝️ Secret beaches • 🚐 Safe transport
        </p>

        <div class="hero-actions">
            <a href="/tours" class="hero-btn">Start Your Adventure</a>
        </div>

        <div class="hero-social">
            Trusted by international travelers<br>
            <a href="https://www.instagram.com/cotuzastours" target="_blank">Instagram</a> |
            <a href="https://www.facebook.com/people/Cotuzas-Tours/61565720485597/" target="_blank">Facebook</a>
        </div>

        <!-- TOURS GRID -->
        {% if tours %}
        <div class="home-tours-grid">
            {% for tour in tours %}
            <article class="home-tour-card">

                <div class="tour-image"
                     style="background-image:url('{{ url_for('static', filename='images/' ~ tour.image) }}')">
                </div>

                <div class="tour-content">
                    <h3 class="tour-name">{{ tour.name }}</h3>

                    <p class="tour-description">
                        From ${{ tour.pricing.one }} USD
                    </p>

                    <a href="/tours/{{ tour.id }}" class="tour-btn">
                        View details
                    </a>
                </div>

            </article>
            {% endfor %}
        </div>
        {% endif %}

    </div>
</section>

{% endblock %}