{% extends "base.html" %}

{% block content %}

<section class="hero">
    <div class="hero-overlay"></div>

    <div class="hero-content">

    <h1>
        Experience the Magic of <br>
        <span class="highlight">El Salvador</span>
    </h1>

    <p class="hero-description">
        Discover volcanoes, hidden beaches, colorful towns and unforgettable
        adventures with trusted local guides.  
        Private, safe and fully personalized tours designed for travelers
        who want the real El Salvador.
    </p>

    <p class="hero-features">
        🌋 Volcano hikes & breathtaking views •
        🏝️ Secret beaches & nature escapes •
        🚐 Safe transport & flexible dates
    </p>

    <div class="hero-actions">
        <a href="/tours" class="hero-btn">
            Start Your Adventure
        </a>
    </div>

    <div class="hero-social">
        <span>Trusted by international travelers</span><br>
        Follow us:
        <a href="https://www.instagram.com/cotuzastours" target="_blank">Instagram</a> |
        <a href="https://www.facebook.com/people/Cotuzas-Tours/61565720485597/" target="_blank">Facebook</a>
    </div>

</div>


    </div>
</section>

{% endblock %}
